<div class="background pb-3">
    <div class="container" style="vh-100">

        <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
            <h1 class="text-center pt-5">Edit Product</h1>
        </a>

        <div class="d-flex justify-content-center">
            <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Product</label>
                    <div>
                        <input type="text" class="form-control" id="inputEmail3" name="product"
                            value="{{product.product}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Brand</label>
                    <div>
                        <input type="text" class="form-control" id="inputEmail3" name="brand" value="{{product.brand}}">
                    </div>
                </div>

                <div class="row mb-3 mt-4">
                    <label for="" class=" col-form-label">Stock</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="stock"
                            value="{{product.stock}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class=" col-form-label">Actual Price</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="actualprice"
                            value="{{product.actualprice}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4  ">
                    <label for="" class=" col-form-label">Offer Price</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="offerprice"
                            value="{{product.offerprice}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Category</label>
                    <div>
                        <select id="inputState" class="form-select" name="category" value="{{product.category}}">
                            <option selected>{{product.category}}</option>
                            {{#each category}}
                            <option>{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3  mt-4">
                    <label for="" class="col-form-label">Image</label>
                    <img src="/product-images/{{product._id}}/{{product._id}}_0.png" alt=""
                        style="width:100px; height:auto;" id="imgView">
                    <div>
                        <input class="form-control" type="file" name="image" onchange="viewImage(event)" multiple>
                    </div>
                </div>
                <div class=" d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;<button type="reset"
                        class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>