<div class="background pb-3">
    <div class="container" style="vh-100">

        <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
            <h1 class="text-center pt-5">Edit Product</h1>
        </a>

        <div class="d-flex justify-content-center">
            <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Product</label>
                    <div>
                        <input type="text" class="form-control" id="inputEmail3" name="product"
                            value="{{product.product}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Brand</label>
                    <div>
                        <input type="text" class="form-control" id="inputEmail3" name="brand" value="{{product.brand}}">
                    </div>
                </div>

                <div class="row mb-3 mt-4">
                    <label for="" class=" col-form-label">Stock</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="stock"
                            value="{{product.stock}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class=" col-form-label">Actual Price</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="actualprice"
                            value="{{product.actualprice}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4  ">
                    <label for="" class=" col-form-label">Offer Price</label>
                    <div>
                        <input type="number" class="form-control" id="inputEmail3" name="offerprice"
                            value="{{product.offerprice}}">
                    </div>
                </div>
                <div class="row mb-3 mt-4">
                    <label for="" class="col-form-label">Category</label>
                    <div>
                        <select id="inputState" class="form-select" name="category" value="{{product.category}}">
                            <option selected>{{product.category}}</option>
                            {{#each category}}
                            <option>{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row d-flex mt-2">
                    <div class="form-group col-md-6 d-flex">
                        <img src="/product-images/{{product._id}}/{{product._id}}_0.png" alt="" width="50" height="50">
                        <div class="d-none me-3" id="imgView1_1">
                            <img src="" alt="" width="50" height="50" id="imgView1">
                        </div>
                        <input type="file" onchange="viewImage(event,'imgView1',1)" class="form-control-file"
                            name="image1" id="imgInput">
                    </div>

                    <div class="form-group col-md-6 d-flex">
                        <img src="/product-images/{{product._id}}/{{product._id}}_1.png" alt="" width="50" height="50">
                        <div class="d-none me-3" id="imgView2_2">
                            <img src="" alt="" width="50" height="50" id="imgView2">
                        </div>
                        <input type="file" onchange="viewImage(event,'imgView2',2)" class="form-control-file"
                            name="image2" id="imgInput">
                    </div>
                </div>
                <div class="form-row d-flex mt-2">
                    <div class="form-group col-md-6 d-flex">
                        <img src="/product-images/{{product._id}}/{{product._id}}_2.png" alt="" width="50" height="50">
                        <div class="d-none me-3" id="imgView3_3">
                            <img src="" alt="" width="50" height="50" id="imgView3">
                        </div>
                        <input type="file" onchange="viewImage(event,'imgView3',3)" class="form-control-file"
                            name="image3" id="imgInput">
                    </div>

                    <div class="form-group col-md-6 d-flex">
                        <img src="/product-images/{{product._id}}/{{product._id}}_3.png" alt="" width="50" height="50">
                        <div class="d-none me-3" id="imgView4_4">
                            <img src="" alt="" width="50" height="50" id="imgView4">
                        </div>
                        <input type="file" onchange="viewImage(event,'imgView4',4)" class="form-control-file"
                            name="image4" id="imgInput">
                    </div>
                </div>
                <div class=" d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;<button type="reset"
                        class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>