<div class="background pb-3" style="margin-left: 7%;
    width: 90%;">
    <div class="" style=" vh-100">
        <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
            <h1 class="text-center pt-5">Orders</h1>
        </a>
        <div class="d-flex justify-content-center">
            <div class="row mb-3 mt-4 ms-3">
                <table class="table table-hover table-bordered ms-2 mt-2" id="orders">
                    <thead>
                        <tr>
                            <th>No:</th>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Payment</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orderItems}}
                        <tr>
                            <td class="align-middle fw-b">{{inc @index}}</td>
                            <td>
                                <img style="width:70px; height:70px;" src="{{this.product.image.[0]}}" alt="">
                            </td>
                            <td class="align-middle fw-b">{{this.product.product}}</td>
                            <td class="align-middle fw-b">{{this.product.brand}}</td>
                            <td class="align-middle fw-b">{{this.totalAmount}}</td>
                            <td class="align-middle fw-b">{{this.date}}</td>
                            <td class="align-middle fw-b">{{this.paymentMethod}}</td>
                            <td class="align-middle fw-b">{{this.quantity}}</td>
                            <td class="order-data align-middle fw-b" id="{{this._id}}{{this.product._id}}">
                                {{this.status}}</td>
                            <td class="align-middle fw-b" id="select">
                                {{#ifCheck status 'delivered'}}
                                <option value="delivered">Delivered</option>
                                {{/ifCheck}}
                                {{#ifCheck status 'canceled'}}
                                <option value="canceled">Cancelled</option>
                                {{/ifCheck}}
                                {{#ifCheck status 'placed'}}
                                <select class="form-control" id="{{this.product._id}}{{this._id}}"
                                    onchange="statusChange('{{this.product._id}}','{{this._id}}')" style="width: 90px;">
                                    <option selected="true" disabled="disabled"
                                        style="background-color: blue; color: white;">
                                        {{this.status}}</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="delivered">Delivered</option>
                                    <option value="canceled">Canceled</option>
                                </select>
                                {{/ifCheck}}
                                {{#ifCheck status 'pending'}}
                                <select class="form-control" id="{{this.product._id}}{{this._id}}"
                                    onchange="statusChange('{{this.product._id}}','{{this._id}}')" style="width: 90px;">
                                    <option selected="true" disabled="disabled"
                                        style="background-color: blue; color: white;">
                                        {{this.status}}</option>
                                    <option value="pending">Pending</option>
                                    <option value="placed">Placed</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="delivered">Delivered</option>
                                    <option value="canceled">Canceled</option>
                                </select>
                                {{/ifCheck}}
                                {{#ifCheck status 'shipped'}}
                                <select class="form-control" id="{{this.product._id}}{{this._id}}"
                                    onchange="statusChange('{{this.product._id}}','{{this._id}}')" style="width: 90px;">
                                    <option selected="true" disabled="disabled"
                                        style="background-color: blue; color: white;">
                                        {{this.status}}</option>
                                    <option value="delivered">Delivered</option>
                                    <option value="canceled">Canceled</option>
                                </select>
                                {{/ifCheck}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#orders').DataTable();
            });
        </script>