<div class="background pb-3">
  <div class="" style=" vh-100">

    <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
      <h1 class="text-center pt-5">Products</h1>
    </a>
    <div class="add d-flex justify-content-end">
      <a href="/admin/add-product" class="btn btn-primary ms-auto me-5">Add Product</a>
    </div>

    <div class="d-flex justify-content-center" style="">
      <div class="row mb-3" style="width: 100%; margin-left: 8%; margin-right: 2%;">

        <table id="example" class="table table-hover table-bordered " style="width:100%">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Product</th>
              <th scope="col">Brand</th>
              <th scope="col">Stock</th>
              <th scope="col">Actual Price</th>
              <th scope="col">Offer Price</th>
              <th scope="col">Category</th>
              <th scope="col">Image</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <th scope="row" class="align-middle fw-b">{{inc @index}}</th>
              <td class="align-middle fw-b">{{this.product}}</td>
              <td class="align-middle fw-b">{{this.brand}}</td>
              <td class="align-middle fw-b">{{this.stock}}</td>
              <td class="align-middle fw-b">{{this.actualPrice}}</td>
              {{#if this.offerPrice}}
              <td class="align-middle fw-b">{{this.offerPrice}}</td>
              {{else}}
              <td class="align-middle fw-b">No Offer</td>
              {{/if}}
              <td class="align-middle fw-b">{{this.category}}</td>
              <td><img style="width:100px; height:100px;" src="{{this.image.[0]}}" alt="">
              </td>
              <td class="align-middle fw-b"><a href="/admin/edit-product/{{this._id}}"><i
                    class="fa-solid fa-pen-to-square d-flex justify-content-center" style="font-size:20px;"></i></a>
              </td>
              <td class="align-middle fw-b"><button onclick="deleteProduct('{{this._id}}')" style="border: 0;"> <i
                    class="fa-solid fa-trash" style="font-size:20px; color: red;"></i>
                </button> </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>