<div class="background pb-3" style="    margin-left: 7%;
    width: 90%;">
  <div class="" style=" vh-100">

    <a class="navbar-brand mt-4" style="font-family: none; font-weight: 900; color: black;">
      <h1 class="text-center pt-5">Users</h1>
    </a>
    {{!-- <form class="d-flex justify-content-center mt-5">
      <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form> --}}
    <div class="d-flex justify-content-center">
      <div class="row mb-3 mt-4">

        <table class="table table-hover table-bordered ms-3" style="" id="example">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">User</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Status</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            <tr>
              <th scope="row" class="align-middle fw-b">{{inc @index}}</th>
              <td class="align-middle fw-b">{{this.firstname}}</td>
              <td class="align-middle fw-b">{{this.email}}</td>
              <td class="align-middle fw-b">{{this.mobile}}</td>
              <td class="align-middle fw-b">
                {{#if this.status}}
                Active
                {{else}}
                Inactive
                {{/if}}
              </td>
              <td>
                {{#if this.status}}
                <button class="btn btn-danger" onclick="blockUser('{{this._id}}')">
                  Block</button>
                {{!-- <a class="btn btn-danger" href="/admin/users/{{this._id}}"
                  onclick="return confirm('Do you want to deactivate the user')">Block</a> --}}
                {{else}}
                <button class="btn btn-success" onclick="unblockUser('{{this._id}}')">
                  Unblock</button>
                {{!-- <a class="btn btn-success" href="/admin/users/{{this._id}}"
                  onclick="return confirm('Do you want to activate the user')">Unblock</a> --}}
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>