<section class="h-100 gradient-custom mt-5">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            {{#if cartCount}}
            <h5 class="mb-0">Cart - {{cartCount}} items</h5>
            {{else}}
            <h5 class="mb-0">Cart - 0 items</h5>
            {{/if}}
          </div>
          {{#if cartCount}}
          {{#each products}}
          <div class="card-body">
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="{{this.product.image.[0]}}" class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong>{{this.product.brand}}</strong></p>
                <h5><strong>{{this.product.product}}</strong></h5>

                <button onclick="deleteCart('{{this.product._id}}')" type="button"
                  class="btn btn-primary btn-sm me-1 mt-4" data-mdb-toggle="tooltip" title="Remove item">
                  <i class="fas fa-trash"></i>
                </button>
                <button type="button" onclick="addToWishlist('{{this.product._id}}')"
                  class=" btn btn-danger btn-sm mt-4" data-mdb-toggle="tooltip" title="Move to the wish list">
                  <i class="fas fa-heart"></i>
                </button>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                  <button type="button" class="btn btn-primary me-2 cart-item-count" id="minus{{this.product._id}}"
                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}','{{this.product.stock}}',-1)">
                    <i class="fas fa-minus"></i>
                  </button>

                  <div class="form-outline" style="font-size:24px;">
                    <span id="{{this.product._id}}">{{this.quantity}}</span>
                  </div>

                  <button type="button" class="btn btn-primary  ms-2 cart-item-count" id="plus{{this.product._id}}"
                    onclick=" changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}','{{this.product.stock}}',1)">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
                <!-- Quantity -->

                <!-- Price -->
                <h4 class="text-start text-md-center ">
                  <strong>₹{{this.product.offerPrice}}</strong>
                </h4>
                <!-- Price -->
              </div>
            </div>
            <!-- Single item -->

            <hr class="my-4" />

            <!-- Single item -->
          </div>
          {{/each}}
          {{else}}
          <img class="" src="/images/empty-cart-2130356-1800917.webp" alt="">
          {{/if}}
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            {{#each products}}
            <div class="summary-subtotal">
              <div class="d-flex">
                <img style="width:100px;" src="{{this.product.image.[0]}}" alt="Placholder Image 2">

                <div class="subtotal-title w-100 my-auto">
                  <h5>{{this.product.product}}</h5>
                </div>
              </div>
              <div class="summary-promo hide">
                <hr>
                <div class="promo-value final-value" id="basket-promo"></div>
              </div>
            </div>
            {{/each}}
            {{#if cartCount}}
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including GST)</p>
                  </strong>
                </div>
                <span>₹<strong><span id="total">{{totalValue}}</span></strong></span>
              </li>
            </ul>
            <a href="/place-order">
              <button type="button" class="btn btn-primary btn-block">
                Go to checkout
              </button></a>
            {{else}}
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including GST)</p>
                  </strong>
                </div>
                <span>₹<strong><span id="total">0</span></strong></span>
              </li>
            </ul>
            <a href="/products">
              <button type="button" class="btn btn-primary btn-block">
                Explore Products
              </button></a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function changeQuantity(cartId, prodId, userId, stock, count) {
    let quantity = parseInt(document.getElementById(prodId).innerHTML)
    count = parseInt(count)
    console.log(quantity);

    quantityCheck = quantity + count
    console.log(quantityCheck);
    stock = parseInt(stock)
    if (quantityCheck <= stock && quantityCheck != 0) {
      document.getElementById("minus" + prodId).classList.remove("invisible")
      document.getElementById("plus" + prodId).classList.remove("invisible")
      $.ajax({
        url: '/change-product-quantity',
        data: {
          user: userId,
          cart: cartId,
          product: prodId,
          count: count,
          quantity: quantity
        },
        type: 'post',
        success: (response) => {
          console.log(response);
          if (response.removeProduct) {
            location.reload()
          } else {
            document.getElementById(prodId).innerHTML = quantity + count;
            document.getElementById('total').innerHTML = response.total
          }
        }
      })
    }
    if (quantityCheck == 1) {
      document.getElementById("minus" + prodId).classList.add("invisible")
    }
    if (quantityCheck == stock) {
      document.getElementById("plus" + prodId).classList.add("invisible")
    }
  }


  function deleteCart(prodId) {
    swal({
      title: "Are you sure?",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "red",
      confirmButtonText: "Yes",
      cancelButtonText: "No",
      closeOnConfirm: false,
      closeOnCancel: true
    },
      function (isConfirm) {
        if (isConfirm) {
          $.ajax({
            url: '/delete-cart-product/' + prodId,
            method: 'get',
            success: (response) => {
              if (response) {
                location.reload()
              }
            }
          })
        }
      }
    );
  }
</script>