<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
            <div class="col-lg-12 col-xl-12">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">Thanks for your Order, <span
                                style="color: #1867C2;">{{user.firstname}}</span>!
                        </h5>
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-bold mb-0" style="color: #1867C2;">Receipt</p>
                        </div>
                        {{#if orders}}
                        {{#each orders}}
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img style="width:100px; height:104px;" src="{{this.product.image.[0]}}"
                                            class="img-fluid" alt="Phone">
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">

                                        <h5 class="text mb-0">{{this.product.product}}</h5>
                                    </div>
                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                        <p class="text mb-0 small"><b>Brand: <br> {{this.product.brand}}</b></p>
                                    </div>
                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                        <p class="text mb-0 small"><b>Quantity: <br>{{this.quantity}}</b></p>
                                    </div>


                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                        <p class="text mb-0 small"><b>Amount: <br>{{this.offerPrice}}</b></p>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                                        <div class="col-md-12">
                                            <p>{{this.deliveryDetails.fullname}}</p>
                                            <p>{{this.deliveryDetails.address}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-1 justify-content-center align-items-center">
                                        <p class="text mb-0 small">Date :</p>
                                        <p>{{this.displayDate}}</p>
                                    </div>
                                    <div class="col-md-1 justify-content-center align-items-center">
                                        <p class="text mb-0 small">Payment :</p>
                                        <p>{{this.paymentMethod}}</p>
                                    </div>
                                    <div class="col-md-1 justify-content-center align-items-center">
                                        <p class="text mb-0 small">Status :</p>
                                        <p>{{this.status}}</p>
                                    </div>
                                </div>
                                <div class="buttons d-flex justify-content-end mt-0">
                                    {{#ifCheck status 'delivered'}}
                                    {{!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#returnOrder" data-bs-whatever="@mdo">Return Product</button>
                                    --}}
                                    <button type="button" class="btn btn-warning"
                                        onclick="returnProduct('{{this._id}}','{{this.item}}')">Return
                                        Product</button>

                                    {{!-- <a class="btn btn-warning" href="/return-reason/{{this.item}}">Return
                                        Product</a> --}}
                                    {{/ifCheck}}
                                    {{#ifCheck status 'canceled'}}
                                    {{/ifCheck}}
                                    {{#ifCheck status 'pending'}}
                                    <button id="status-button" onclick="cancelOrder('{{this._id}}','{{this.item}}')"
                                        class="btn btn-danger">Cancel
                                        Order</button>
                                    {{/ifCheck}}
                                    {{#ifCheck status 'placed'}}
                                    <button id="status-button" onclick="cancelOrder('{{this._id}}','{{this.item}}')"
                                        class="btn btn-danger">Cancel
                                        Order</button>
                                    {{/ifCheck}}
                                    {{#ifCheck status 'shipped'}}
                                    <button id="status-button" onclick="cancelOrder('{{this._id}}','{{this.item}}')"
                                        class="btn btn-danger">Cancel
                                        Order</button>
                                    {{/ifCheck}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <h2 class="fw-bold text-danger">Order list is Empty...!</h2>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!--
<div class="modal fade" id="returnOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose a Reason</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{#each orders}}
                <form id="returnReason" method="post">
                    <label>Damaged/defective product.
                        <input type="radio" name="reason" value="Damaged/defective product." required>
                        <span class="custom-radio-button"></span>
                    </label>
                    <label>Wrong product description information.
                        <input type="radio" name="reason" value="Wrong product description information." required>
                        <span class=" custom-radio-button"></span>
                    </label>
                    <label>Unfit size.
                        <input type="radio" name="reason" value="Unfit size." required>
                        <span class=" custom-radio-button"></span>
                    </label>

                    <input type="text" name="id" value="{{this.product._id}}" hidden>

                    <br>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div> --}}
<style>
    label {
        display: block;
        position: relative;
        padding-left: 50px;
        margin: 10px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /* Hide the default radio button */
    label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Creating own radio button to style */
    .custom-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* hover effect on unchecked buttons */
    label:hover input+.custom-radio-button {
        background: #fdd;
    }

    /* button checked */
    label input:checked+.custom-radio-button {
        background-color: #1867C2;
    }

    /* White dot on checked radio button (hidden) */
    label .custom-radio-button::after {
        content: "";
        display: none;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Show the dot on checked button */
    label input:checked+.custom-radio-button::after {
        display: block;
    }

    input[type="submit"] {
        border: none;
        color: white;
        font-size: 18px;
        padding: 5px 15px;
        background: #1867C2;
        border-radius: .25rem;
    }
</style>