<div class="btn-group" role="group" aria-label="Basic radio toggle button group"
    style="margin-top:100px; width: 100%; justify-content: center;">

    <div>
        {{!-- <form action="/products/">
            <input type="radio" class="btn-check" name="" id="btnradio1" autocomplete="off" value="" checked>
            <label class="btn btn-outline-primary" for="btnradio1">All products</label>
            {{#each category}}
            <input type="radio" class="btn-check" name="search" id="btnradio2" autocomplete="off"
                value="{{this.category}}">
            <label class="btn btn-outline-primary" for="btnradio2">{{this.category}}</label>
            {{/each}}
        </form> --}}
        {{#each category}}
        <a class="btn btn-primary" href="/products?search={{this.category}}">{{this.category}}</a>
        {{/each}}
    </div>

    <div class="float-end ms-3">
        <form class="d-flex" action="/products/" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>

</div>
<section>
    <div class="position-fixed w-25 d-none" id="success"
        style="left:530px; top: 100px; z-index: 1000; background-color:black; border-radius:10px;">
        <p id="success-text" class="text-center mt-3" style="color:white;">Added to Cart</p>
    </div>
    <div class="position-fixed w-25 d-none" id="wishSuccess"
        style="left:530px; top: 100px; z-index: 1000; background-color:black; border-radius:10px;">
        <p id="success-text" class="text-center mt-3" style="color:white;">Added to Cart</p>
    </div>
    -
    <div class="container mt-3">
        <div class="row">
            {{#each response}}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem; margin-top:25px;">

                    <img style="width:75%;" src="{{this.image.[0]}}" class="card-img-top mx-auto mt-3" alt="...">

                    <div class="card-body">
                        <h6>{{this.brand}}</h6>
                        <a style="text-decoration: none;" href="/product-details/{{this._id}}">
                            <h5>{{this.product}}</h5>
                        </a>
                        {{!-- {{#if this.offerPrice}}
                        <p class="mb-0" style="text-decoration :line-through;">₹{{this.actualPrice}}</p> --}}
                        <div class="d-flex">
                            <h5 class="me-3">₹{{this.offerPrice}}</h5>
                            {{#if this.currentOffer}}
                            <p style="color:green;">{{this.currentOffer}}% off</p>
                            {{else}}
                            {{!-- {{#if this.categoryOffer}} --}}
                            {{!-- <p style="color:green;">{{this.categoryOffer}}% off</p>
                            {{else}} --}}
                            <p style="color:red;">0% off</p>
                            {{/if}}
                        </div>
                        {{!-- {{else}}
                        <p class="mb-0">No Offer</p>
                        <h5>₹{{this.actualPrice}}</h5>
                        {{/if}} --}}
                        <button type="button" class="btn btn-primary" style="border-radius: 10px;"
                            onclick="addToCart('{{this._id}}')">Add to Cart</button>

                        <i class="fa-solid fa-heart float-end" style="font-size: xx-large; color: red;"
                            onclick="addToWishlist('{{this._id}}')"></i>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<style>
    .card:hover {
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        transition-duration: .6s;
    }
</style>