<div class="btn-group ms-5" role="group" aria-label="Basic radio toggle button group" style="margin-top:100px;">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio1">All products</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">Gents</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3">Ladies</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3">Kids</label>
</div>
<section>
    <div class="position-fixed w-25 d-none" id="success"
        style="left:530px; top: 100px; z-index: 1000; background-color:black; border-radius:10px;">
        <p id="success-text" class="text-center mt-3" style="color:white;">Added to Cart</p>
    </div>
    <div class="position-fixed w-25 d-none" id="wishSuccess"
        style="left:530px; top: 100px; z-index: 1000; background-color:black; border-radius:10px;">
        <p id="success-text" class="text-center mt-3" style="color:white;">Added to Cart</p>
    </div>
    <div class="container mt-3">
        <div class="row">
            {{#each products}}
            {{#if this.offerPrice}}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem; margin-top:25px;">

                    <img style="width:100px; height:180px;" src="/product-images/{{this._id}}/{{this._id}}_0.png"
                        class="card-img-top mx-auto mt-3" alt="...">

                    <div class="card-body">
                        <h6>{{this.brand}}</h6>
                        <a style="text-decoration: none;" href="/product-details/{{this._id}}">
                            <h5>{{this.product}}</h5>
                        </a>
                        <p class="mb-0" style="text-decoration :line-through;">₹{{this.actualPrice}}</p>
                        <h5>₹{{this.offerPrice}}</h5>

                        <button type="button" class="btn btn-primary" style="border-radius: 10px;"
                            onclick="addToCart('{{this._id}}')">Add to Cart</button>

                        <i class="fa-solid fa-heart float-end" style="font-size: xx-large; color: red;"
                            onclick="addToWishlist('{{this._id}}')"></i>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem; margin-top:25px;">

                    <img style="width:100px; height:180px;" src="/product-images/{{this._id}}/{{this._id}}_0.png"
                        class="card-img-top mx-auto mt-3" alt="...">

                    <div class="card-body">
                        <h6>{{this.brand}}</h6>
                        <a style="text-decoration: none;" href="/product-details/{{this._id}}">
                            <h5>{{this.product}}</h5>
                        </a>
                        <p class="mb-0">No Offer</p>
                        <h5>₹{{this.actualPrice}}</h5>

                        <button type="button" class="btn btn-primary" style="border-radius: 10px;"
                            onclick="addToCart('{{this._id}}')">Add to Cart</button>

                        <i class="fa-solid fa-heart float-end" style="font-size: xx-large; color: red;"
                            onclick="addToWishlist('{{this._id}}')"></i>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>
<style>
    .card:hover {
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        transition-duration: .6s;
    }
</style>